@import url(./vendor/normalize.css);
@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');
@import url(./vendor/fonts/inter.css);

body {
  margin: 0;
  font-family: 'JetBrains Mono', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color-main: #131316;
  --color-text: #F2F2F3;
  --color-text-grey: #8585AD;
  --bg-color-grey: #1C1C21;
  --font-w700: 700;
  --font-w400: 400;
}

.page {
  max-width: 1920px;
  min-height: 100vh;
  display: flex;
  /*align-items: center;*/
  /*flex-direction: column;*/
  margin: 0 auto;
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
  background-color: var(--bg-color-main);
  color: var(--color-text);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

/* * {
    outline: 1px solid red;
} */


/*button:hover {*/
/*  color: var(--color-text);*/
/*  cursor: pointer;*/
/*}*/

/*a:hover {*/
/*  color: var(--color-text);;*/
/*}*/


